

<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">LetsShop <i class="fa fa-shopping-cart"></i></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Top Deals
<i class="fa fa-money"></i></a>
      <a class="nav-item nav-link" href="#">What Most People Bought
<i class="fa fa-cutlery" aria-hidden="true"></i></a>
      <a class="nav-item nav-link" href="/products">Products We Offer <i class="fa fa-shopping-cart"></i></a>

    </div>
  </div>
<div class="navbar-expand ml-auto navbar-nav">
   <div class="navbar-nav">
  <span *ngIf="auth.loggingIn">Logging in...</span>
      <ng-template [ngIf]="!auth.loggingIn" >
        <a *ngIf="!auth.loggedIn"  style="color:white" class="nav-item nav-link" (click)="auth.login()">
        Signup or Login</a>
        <span *ngIf="auth.loggedIn && auth.userProfile">
          <a routerLink="/my-rsvps">{{ auth.userProfile.name }}</a>
          <span class="divider">|</span>
          <a (click)="auth.logout()" style="color:white">Log Out</a>
        </span>
      </ng-template>
    </div>
</div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>


    </div>
  </div>
</nav>
  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Events</a>
      </li>
      <li>
        <a
          *ngIf="auth.loggedIn"
          routerLink="/my-rsvps"
          routerLinkActive="active">My RSVPs</a>
      </li>
      <li>
        <a
          *ngIf="auth.loggedIn && auth.isAdmin"
          routerLink="/admin"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Admin</a>
      </li>
      <li>
        <a
          *ngIf="auth.loggedIn && auth.isAdmin"
          routerLink="/admin/event/new"
          routerLinkActive="active">Create Event</a>
      </li>
    </ul>
  </nav>

 <ng-template [ngIf]="!auth.loggingIn" >
        <a *ngIf="!auth.loggedIn"  class="nav-item nav-link" (click)="auth.login()">
       <h1 style="text-align: center"> Click here to Signup <i class="fa fa-pencil"></i> or Login <i class="fa fa-sign-in" style="font-size:48px;color:red"></i> to LetsShop <i class="fa fa-money"></i></h1></a>

      </ng-template>
