

<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">LetsShop <i class="fa fa-shopping-cart"></i></a>

&nbsp;

  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">



      <a class="nav-item nav-link"  *ngIf="auth.loggedIn" href="/besttimeorder" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">When is the best time to order? <i class="fa fa-clock-o"></i></a>


&nbsp;

      <a class="nav-item nav-link" href="itemsfreqpurchased">What Most People Bought
<i class="fa fa-cutlery" aria-hidden="true"></i></a>

&nbsp;

      <a class="nav-item nav-link"  *ngIf="!auth.loggedIn" href="/offered" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Products We Offer <i class="fa fa-shopping-cart"></i></a>

&nbsp;

         <a class="nav-item nav-link"  *ngIf="!auth.loggedIn" href="/chat" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Questions? Lets Chat<i class='fa fa-comment'></i> </a>

    </div>
  </div>
<div class="navbar-expand ml-auto navbar-nav">
   <div class="navbar-nav">
  <span *ngIf="auth.loggingIn">Logging in...</span>
      <ng-template [ngIf]="!auth.loggingIn" >
        <a *ngIf="!auth.loggedIn"  style="color:white" class="nav-item nav-link" (click)="auth.login()">
        Signup or Login</a>
        <span *ngIf="auth.loggedIn && auth.userProfile">
          <a routerLink="/">{{ auth.userProfile.name }}</a>
          <span class="divider">|</span>
          <a (click)="auth.logout()" style="color:white">Log Out</a>
        </span>
      </ng-template>
    </div>
</div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>


    </div>
  </div>
</nav>
  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
 <a  type="button" class="btn btn-primary btn-lg"
          routerLink="/calc"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Calculator <i class="fa fa-calculator"></i></a>
          &nbsp;

          &nbsp;
<div class="container">
<a type="button" *ngIf="auth.loggedIn" class="btn btn-primary btn-lg"

          routerLink="/admin"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Admin Dashboard <i class="fa fa-child"></i></a>

   &nbsp;
</div>
<a type="button" class="btn btn-primary btn-lg" *ngIf="auth.loggedIn && !auth.isAdmin"

          routerLink="/offered"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Products Sold
<i class="fa fa-shopping-bag"></i></a>
    </ul>
  </nav>

 <ng-template [ngIf]="!auth.loggingIn" >
        <a *ngIf="!auth.loggedIn"  class="nav-item nav-link" (click)="auth.login()">
       <h1 style="text-align: center"> Click here to Signup <i class="fa fa-pencil"></i> or Login <i class="fa fa-sign-in" style="font-size:48px;color:red"></i> to LetsShop <i class="fa fa-money"></i></h1></a>

      </ng-template>
