<div class=contaner style="text-align: center">
<h1>Welcome to the Admin Dashboard</h1>
</div>


<div class="container" style="text-align: center">
        <a  type="button" class="btn btn-primary btn-lg"
          routerLink="/create"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Create a Product<i class="fa fa-hand-grab-o"></i></a>
</div>

&nbsp;
<div class="container" style="text-align: center">
        <a  type="button" class="btn btn-primary btn-lg"
          routerLink="/adminproductpanel"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">View, Edit, Delete Product Information<i class="fa fa-hand-grab-o"></i></a>
</div>

&nbsp;

<div class="container" style="text-align: center">
        <a  type="button" class="btn btn-primary btn-lg"
          routerLink="/departments"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">View/Edit Departments<i class="fa fa-hand-grab-o"></i></a>
</div>


&nbsp;

<div class="container" style="text-align: center">
        <a  type="button" class="btn btn-primary btn-lg"
          routerLink="/aisles"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">View/Edit Aisles<i class="fa fa-hand-grab-o"></i></a>
</div>
