   <div class="jumbotron">

<h1 class="line-1 anim-typewriter">Welcome to LetsShop! <i class="fa fa-shopping-cart"></i> </h1>

<h2><i class="fa fa-cutlery" style="font-size:48px;color:red"></i> LetsShop's goal is to give you the best shopping experience. This is an application that allows you to know where your grocceries are when you go to the LetsShop market. Also this application gives you the opportunity to create an order. So, you can get your grocceries delivered, picked up in store, or curb side pick up. Additonally, recommendations are given to give you the best shopping experience.

</h2>

  </div>
